
@mixin formato{   
    font-style: oblique;
    text-align: center;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}
.aside {       
    @include formato;
    height: 180px;
    background-color:$colorTercerNivel;
    
    }

@mixin acabado($borde,$margin)    {
     background-color: yellow; 
     border: $borde;        
     margin: $margin;
     width: 200px;
     height: 100px;  
    /* animation-name: mover;     animation-duration: 10s;/*/
    }
.col{
    
    box-shadow:10px 10px rgb(211, 216, 218);
   /* background-color: white;*/
    margin: 40px ;
    border: solid 2px black;
    padding: 20px;     
    }

.rowa{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
    
.card{   
   
    box-shadow:10px 10px rgb(211, 216, 218);
       /* background-color: white;*/
    margin: 4px ;
   border: solid 2px black;
    padding: 2px;    
        }

.div{  
    @include acabado(solid 3px black,10px);
 color:rgb(255, 255, 255);
 background-image: linear-gradient(to bottom , rgb(174, 174, 182) ,white);
}
.direc{
    color:rgb(140, 36, 36);
}