.containert-fluid{
    /* color: rgb(87, 87, 220);*/
    background-color: white;
 }
 
 .container{
    background-color: rgb(255, 255, 255);
    margin: 40px ;
    border: 100px; 

}
 
 h1{ 
 color:white;    
 background-color:rgb(143, 140, 135);
 font-style: oblique;
 text-align: center;
 display:flex;
 flex-direction: row;
 justify-content: space-evenly;
 align-items: center;
 height:75px;}
 
 .img{
     display: block;
      margin: 0px auto;
     height: 90px;
     width: 150px;;
 }


 .img1{
    display: block;
     margin: 0px auto;
    height: 250px;
    width: 1250px;
}

 .carta{
    padding:12px ;
    margin:12px;
    
 }

 .contain{
    /*background-color: rgb(255, 255, 255);*/
    margin: 40px ;
    border: 100px; 

}