/*letras inicio*/
.navbar-brand{
  color:white;
}
.navbar-brand:hover{
  color:white;
  display: block;
  margin: 0px ;
  
  background:rgb(119, 184, 214);  
  width:50px;
  height:40px;
}
/* fondo barra navegacion*/
.container-fluid{
  color:white;
  background-color: rgb(79, 78, 77);
 /* height: 80px;*/
}

.navbar navbar-expand-lg bg-light
{
  background-color: rgb(245, 238, 238);
  color:white;
}
.nav-link:hover{
  color:white;
  background:rgb(119, 184, 214); 
  
}

.navbar-toggler{
    background-color: yellowgreen;
}
.nav-link
{
  color:white;
}

.nav-item
{
  color:white;
}
