.navbar-brand:hover{
    display: block;
    margin: 0px auto;
    background:rgb(119, 184, 214); 
   width:60px;
   height:40px;
}

.nav-link:hover{
  background:rgb(119, 184, 214); 
  
}

.navbar-toggler{
    background-color: yellowgreen;
}
