/*letras inicio*/
.navbar-brand{
  color:white;
}
/*fondo colocar inicio mouse*/
.navbar-brand:hover{
  color:white;
  display: block;
  margin: 0px ;  
  background:rgb(134, 146, 151);   
  width:50px;
  height:40px;
}

/*fondo colocar mouse*/
.nav-link:hover{
  color:white;
  background:rgb(101, 113, 118);   
}

/* fondo barra navegacion*/
.container-fluid{
  color:white;
  background-color: rgb(79, 78, 77);
 /* height: 80px;*/
}

/*color icono de navegacion*/
.navbar-toggler{
    background-color: rgb(145, 227, 146);
}
/*color letras navegador*/
.nav-link
{
  color:rgb(247, 238, 238);
}


