*{
    margin: 0;
    padding: 0;
}

h1{
    display:flex;
    margin: 20px;
    padding: 20px;
    border: 120px;
}

.img1{
    height: 220px;
    width: 1500px;;
}
.img2{
    height: 220px;
    width: 1200px;;
}
.img3{
    height: 50px;
    width: 100px;;
}

.footer{
    margin: 20px;
    padding: 20px;
    border: 20px;


background-color: grey;}