


*{
    margin: 0;
    padding: 0;
}

.container-fluid{
   /* color: rgb(87, 87, 220);*/
   background-color: rgb(171, 215, 227);
}



h1{

grid-area: main;
background-color:wheat;
font-style: oblique;
text-align: center;
display:flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
height:75px;}

.navbar-brand:hover{
    display: block;
    margin: 0px auto;
    background:rgb(119, 184, 214); 
   width:60px;
   height:40px;
}

.nav-link:hover{
  background:rgb(119, 184, 214); 
  /*  width:2px;
height:20px;*/
}

.navbar-toggler{
    background-color: yellowgreen;
}





.img1{
    display: block;
     margin: 0px auto;
    height: 300px;
    width: 1150px;;
}
.img2{
    display: block;
     margin: 0px auto;
    height: 300px;
    width: 1200px;;
}
.img3{
    display: block;
     margin: 0px auto;
    height: 300px;
    width: 1200px;;
}

.aside {
    background-color:rgb(151, 230, 156);
   
    font-style: oblique;
    text-align: center;
   display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly ;
    height: 180px;}
  

footer{
    margin: 2px;    
    border: 5px;
background-color: rgb(190, 176, 31);}
.div1{
    background-color: yellow;
    border: solid 3px black;        
    margin: 3px;
    width: 200px;
    height: 100px;  
    animation-name: mover;
    animation-duration: 10s;

}

.div{
    background-color: yellow;
    border: solid 5px black;        
    margin: 10px;
    width: 200px;
    height:100px;  
    color:white;
    animation-name: mover;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-delay:10s;

/* width: 200px;
margin: 10px;/*/
background-image: linear-gradient(to bottom , blue ,white);


}       
@keyframes mover {
    0%{
        transform: translate(0,0);
    }

    25%{
        transform: translate(100px,0);
    }

    50%{
        transform: translate(-100px,0px);
    }

    75%{
        transform: translate(100px,0px);
    }
    100%{
        transform: translate(0,0);
    }
}